<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curso</title>
</head>
<body>
<h1 style="text-align: center">Nombre de integrantes familiares</h1>
<br>
Nombre primer Familiar: {{ familiar1.nombre }}
<br>
Apellido: {{ familiar1.apellido }}
<br>
Fecha de nacimiento: {{ familiar1.fecha }}
<br><br>
Nombre segundo Familiar: {{ familiar2.nombre }}
<br>
Apellido: {{ familiar2.apellido }}
<br>
Fecha de nacimiento: {{ familiar2.fecha }}


<br><br>
Nombre tercer Familiar: {{ familiar3.nombre }}
<br>
Apellido: {{ familiar3.apellido }}
<br>
Fecha de nacimiento: {{ familiar3.fecha }}


</body>
</html>